################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KneatTestAutomation/v16
/KneatTestAutomation/bin/Debug/netcoreapp3.1
/KneatTestAutomation/obj
/KneatTestAutomation/Properties/PublishProfiles
